<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poyecto Mercado Liebre</title>
</head>
<body>
<header>
    <h1><img src="/images/logo-mercado-liebre.svg" alt=""></h1>
    <div>Lugar para poner la barra de búsqueda</div>
    <br>
    <div>Comprá en cuotas y sin tarjeta de crédito</div>
    <br>
<nav>
    <ul>
        <a><li>Ofertas</li></a>
        <li>Tiendas oficiales</li>
        <li>Vender</li>
        <li>Ayuda</li>
        <br>
        <li>Creá tu cuenta</li>
        <li>Ingresá</li>
        <li>Mis compras</li>
    </ul>
</nav>
    <h2><img src="/images/img-home-banner.jpg" alt=""></h2>
</header>
    <br>
<section>
    <header>
        <h2><b>Basado en tu última visita</b></h2>
    </header>
    <h2><img src="/images/img-cafetera-moulinex.jpg" alt=""></h2>
    <h5>$6.770</h5>
    <h5>40% OFF</h5>
    <h3>Cafetera Moulinex</h3>
    <br>
    <h2><img src="/images/img-macbook-pro-2019.jpg" alt=""></h2>
    <h5>$230.000</h5>
    <h5>20% off</h5>
    <h2>MacBook Pro 2019</h2>
    <br>
    <h2><img src="/images/img-tv-samsung-smart.jpg" alt=""></h2>
    <h5>$23.200</h5>
    <h5>5% off</h5>
    <h3>SmartTv Samsung 43"</h3>
</section>
<br>
<section>
    <header>
        <h2><b>Sección de ofertas</b></h2>
    </header>
    <h2><img src="/images/img-cafetera-moulinex.jpg" alt=""></h2>
    <h5>$6.770</h5>
    <h5>40% OFF</h5>
    <h3>Cafetera Moulinex</h3>
    <br>
    <h2><img src="/images/img-macbook-pro-2019.jpg" alt=""></h2>
    <h5>$230.000</h5>
    <h5>20% off</h5>
    <h2>MacBook Pro 2019</h2>
    <br>
    <h2><img src="/images/img-tv-samsung-smart.jpg" alt=""></h2>
    <h5>$23.200</h5>
    <h5>5% off</h5>
    <h3>SmartTv Samsung 43"</h3>
</section>
<footer>
    <section>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        
    </section>
</footer>
</body>
</html>