<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poyecto Mercado Liebre</title>
</head>
<body>
    <h1><img src="/images/logo-mercado-liebre.svg" alt=""></h1>
    <h2>subtitulo a poner</h2>
    <img src="/images/img-home-banner.jpg" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime incidunt sapiente ex obcaecati repudiandae odit id corrupti pariatur, magni quibusdam quae consectetur, distinctio tenetur in non. Repudiandae quisquam quasi molestiae!</p>
    <ol>
        <li>item1</li>
        <li>item1</li>
        <li>item1</li>
        <li>item1</li>
    </ol>
    <ul>
        <li>item1</li>
        <li>item1</li>
        <li>item1</li>
        <li>item1</li>
    </ul>
    <a href="http://www.google.com">ir google</a>
</body>
</html>