<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poyecto Mercado Liebre</title>
</head>
<body>
<header>
    <div><img src="/images/logo-mercado-liebre.svg" alt=""></div>
            <div class="topnav">
                <input type="text" placeholder="Buscar productos, marcas...">
              </div> 
              <i class="fas fa-search"></i>
    <div class="cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</div>
<nav>
    <ul>
        <li>Ofertas</li>
        <li>Tiendas oficiales</li>
        <li>Vender</li>
        <li>Ayuda</li>
    </ul>
</nav>
<nav>    
    <ul> 
        <li>Creá tu cuenta  <i class="far fa-id-card"></i></li>
        <li>Ingresá  <i class="fas fa-sign-in-alt"></i></li>
        <li>Mis compras  <i class="fas fa-shopping-cart"></i></li>
    </ul>
</nav>

    <div class="hamburguesa"><div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div></div>

</header>
    <main>
<section>

    <div><img src="/images/img-home-banner.jpg" width="520" alt=""></div>

        <h2 class="titulares">Basado en tu última visita</h2>
<article>
    <div><img src="/images/img-cafetera-moulinex.jpg" width="360" alt=""></div>
    <div class="camion"><i class="fas fa-truck"></i></div>
    <span class="valor">$6.770</span>  <span class="descuento">40% OFF</span>
    <h4 class="producto">Cafetera Moulinex</h4>
</article>
<article>
    <div><img src="/images/img-macbook-pro-2019.jpg" width="360" alt=""></div>
    <div class="camion"><i class="fas fa-truck"></i></div>
    <p class="valor">$230.000</p>
    <p class="descuento">20% off</p>
    <h4 class="producto">MacBook Pro 2019</h4>
</article>
<article>
    <div><img src="/images/img-tv-samsung-smart.jpg" width="360" alt=""></div>
    <div class="camion"><i class="fas fa-truck"></i></div>
    <p class="valor">$23.200</p>
    <p class="descuento">5% off</p>
    <h4 class="producto">SmartTv Samsung 43"</h4>
</article>
</section>
<section>

        <h2 class="titulares"><b>Sección de ofertas</b></h2>
<article>
    <h4><img src="/images/img-cafetera-moulinex.jpg" width="360" alt=""></h4>
    <div class="camion"><i class="fas fa-truck"></i></div>
    <p class="valor">$6.770</p>
    <p class="descuento">40% OFF</p>
    <h4 class="producto">Cafetera Moulinex</h4>
</article>
<article>
    <div><img src="/images/img-macbook-pro-2019.jpg" width="360" alt=""></div>
    <div class="camion"><i class="fas fa-truck"></i></div>
    <p class="valor">$230.000</p>
    <p class="descuento">20% off</p>
    <h4 class="producto">MacBook Pro 2019</h4>
</article>
<article>
    <div><img src="/images/img-tv-samsung-smart.jpg" width="360" alt=""></div>
    <div class="camion"><i class="fas fa-truck"></i></div>
    <p class="valor">$23.200</p>
    <p class="descuento">5% off</p>
    <h4 class="producto">SmartTv Samsung 43"</h4>
</article>
</section>
</main>
<br>
<footer>
    <section>
        <div class="tarjeta"><i class="fas fa-credit-card"></i></div>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
            <div class="regalo"><i class="fas fa-gift"></i></div>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
            <div class="escudo"><i class="fas fa-user-shield"></i></div>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        
    </section>
</footer>
</body>
</html>