body {
    font-family: "Roboto";
    font-size: 12px;
    background-color:#ebebeb;
  }
header{
    background-color: #eac926;
}
.cuotas{
    text-align: center;
}
.hamburguesa{
    text-align: center;
}
.burger-menu {
    background-color: #1259c3;
    padding: 7px;
    border-radius: 7px;
    font-size: 25px;
    color: #fff;
    width: 30px;
    margin: 30px 0;
    display: inline-block;
    margin-left: -25px;
  }
  article {
    text-align: center;
  }
  .precios{
      background-color: white;
      padding-top: 15px;
      padding-bottom: 15px;
      margin:0px;
  }
  .valor{
    font-size:18px;
    background-color: white;
  }
  .descuento{
      font-size:16px;
      color: #39b54a;
      margin-left: 0px;
      background-color: white;
  }
  .titulares{
    margin-top: -5px;
    font-size: 24 px;
    color: #666;
  }
  }
  footer{
      background-color: white;
      text-align: center;
  }
  .tarjeta{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
  }
  .regalo{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
  }
  .escudo{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
  }
  .camion{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: white;
    text-align: right;
    width: 360;
  }
.f-producto{
    margin
}